/* Error: Undefined function.
 *    ,
 * 90 | $icon-hamburger-width: math.div($icon-hamburger-height, 3) * 4
 *    |                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _variables.sass 90:24      @import
 *   content-sections.sass 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined function.\a    \2577 \a 90 \2502  $icon-hamburger-width: math.div($icon-hamburger-height, 3) * 4\a    \2502                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _variables.sass 90:24      @import\a   content-sections.sass 1:9  root stylesheet";
}
