/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
/*** Color Palette ***/
/*** Favicon, from https://realfavicongenerator.net/ ***/
/*** Page Layout ***/
/*** Nav ***/
/*** Home ***/
.home-section {
  text-align: center;
}
.home-section .greeting .intro {
  font-size: 1.95rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 0.8em;
}
.home-section .greeting .name {
  font-size: 4rem;
  font-weight: 600;
  color: #f8f8f8;
  background: #0647b6;
  display: inline;
  padding: 0 0.5em;
}
.home-section .greeting .followup {
  margin: 1.25em 0 0.25em;
}
.home-section .greeting .followup p {
  font-size: 1.95rem;
  font-weight: 400;
  margin: 0.2em 0;
}
.home-section .headshot-container {
  height: 12em;
  margin: 1.25em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section .headshot-container img {
  height: 95%;
}
.home-section .highlights .highlight {
  font-size: 1.4rem;
  margin: 0;
}

@media (min-width: 520px) {
  .home-section .greeting {
    cursor: inherit;
  }
}
/*** Experience ***/
.job .job-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #0647b6;
  margin: 1.25em 0 0.25em;
  display: block;
  white-space: pre-wrap;
}
.job .col-logo-content {
  display: grid;
  grid-template: 1fr/59% 40%;
  grid-gap: 0.35em;
}
.job .col-logo-content .logo-container {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.job .col-logo-content .logo-container .job-logo {
  max-width: 95%;
  max-height: 5em;
  margin: 0 auto;
  display: block;
}
.job .col-logo-content .logo-container .poker-logos {
  animation: 20s poker-logo-slideshow 0s linear infinite forwards;
  opacity: 1;
  content: url("https://storage.googleapis.com/tb-public-misc/logos/pokerstars.jpg");
}
.job .col-logo-content .job-details {
  order: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0.1em;
}
.job .col-logo-content .job-details span {
  margin: 0.15em 0;
}
.job .col-logo-content .job-details .job-company-name {
  font-size: 1.25rem;
  margin: 0.15em 0;
}
.job .job-content .job-accomplishments {
  margin: 1em 0;
}
.job .job-content .job-accomplishments li {
  list-style: square;
  margin: 1em 0;
}

@media (min-width: 600px) {
  .experience-section .jobs-container .job .job-title {
    font-size: 1.8rem;
    white-space: initial;
  }
}
.logo-container {
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background;
}
.logo-container img {
  display: block;
}
.logo-container .cr-logo {
  background: #13223a;
  padding: 0.5em;
  border-radius: 10px;
}

.logo-container:hover {
  background: lightgray;
}

@media (min-width: 500px) {
  .logo-container a {
    padding: 0.25em;
  }
  .logo-container a:hover {
    background: lightgray;
  }

  .logo-container:hover {
    background: unset;
  }
}
.icon-plus-text {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin: 0.15em 0;
}

@keyframes poker-logo-slideshow {
  0% {
    opacity: 0;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/pokerstars.jpg");
  }
  5% {
    opacity: 1;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/pokerstars.jpg");
  }
  45% {
    opacity: 1;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/pokerstars.jpg");
  }
  50% {
    opacity: 0;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/pokerstars.jpg");
  }
  51% {
    opacity: 0;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/fulltilt.png");
  }
  56% {
    opacity: 1;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/fulltilt.png");
  }
  95% {
    opacity: 1;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/fulltilt.png");
  }
  100% {
    opacity: 0;
    content: url("https://storage.googleapis.com/tb-public-misc/logos/fulltilt.png");
  }
}
/*** Projects ***/
.project .proj-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}
.project .proj-title-section .proj-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #0647b6;
  white-space: pre-wrap;
}
.project .proj-title-section .proj-links {
  margin: 0 0.2em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.project .proj-title-section .proj-links .proj-link-icon-container {
  padding: 0.15em;
}
.project .proj-title-section .proj-links .proj-link-icon-container:hover {
  background: lightgray;
  transition: background 150ms linear;
}
.project .proj-title-section .proj-links .icon {
  display: block;
  height: 1.25em;
  width: 1.25em;
  max-height: unset;
  max-width: unset;
  margin: 0 0.25em;
}
.project .proj-desc {
  font-size: 1.2rem;
  margin: 1em 0;
  display: inline;
}
.project .proj-screenshot-container {
  display: block;
  max-width: 400px;
  max-height: 330px;
  overflow: hidden;
  margin: 2em auto;
  box-shadow: 3px 3px 10px rgba(151, 154, 160, 0.6);
}
.project .proj-screenshot-container .screenshot {
  width: 100%;
  display: block;
  margin: auto;
}
.project .proj-screenshot-container:hover {
  box-shadow: 3px 3px 10px #979aa0;
  transition: box-shadow 200ms linear;
}
.project .proj-note {
  line-height: 1.6;
}
.project .proj-learn-more {
  display: inline;
  color: #0647b6;
  border: 1px dotted transparent;
  margin: 0 0.25em;
}
.project .proj-learn-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
.project .proj-learn-more:active,
.project .proj-learn-more:focus {
  border: 1px dotted #979aa0;
}
.project .proj-tech {
  margin-top: 2em;
}
.project .proj-tech .proj-tech-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0.25em;
  border: 1px dashed #673a90;
  border-radius: 2em;
}
.project .proj-tech .proj-tech-type-container .proj-tech-type-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #f8f8f8;
  position: relative;
  top: -0.75em;
  display: inline;
  margin: 0;
  padding: 0 0.5em;
  background: #673a90;
  border: 1px solid #673a90;
  border-radius: 10px;
}
.project .proj-tech .proj-tech-type-container .proj-tech-list {
  width: 100%;
  margin: 0 0.25em 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 1em 0.5em;
  cursor: default;
}
.project .proj-tech .proj-tech-type-container .proj-tech-list .proj-tech-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.project .proj-tech .proj-tech-type-container .proj-tech-list .proj-tech-list-item .logo-container {
  max-width: 3.5em;
  max-height: 3em;
  padding: 0;
}
.project .proj-tech .proj-tech-type-container .proj-tech-list .proj-tech-list-item .logo-container:hover {
  background: none;
}
.project .proj-tech .proj-tech-type-container .proj-tech-list .proj-tech-list-item .list-item-label {
  font-size: 0.9rem;
  margin: 0.25em 0.5em;
  padding: 0.25em 0;
}

@media (min-width: 500px) {
  .project .proj-tech .proj-tech-type-container .proj-tech-list .proj-tech-list-item .list-item-label {
    font-size: 1rem;
  }
}
@media (min-width: 650px) {
  .project-section .project .proj-tech {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(290px, 1fr) minmax(290px, 1fr);
  }
  .project-section .project .proj-tech .proj-tech-type-container.wide {
    grid-column: span 2;
  }
}
@media (min-width: 720px) {
  .project-section .project .proj-screenshot-notes {
    margin: 2em 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 4fr;
    grid-gap: 0.75em;
  }
  .project-section .project .proj-screenshot-notes .proj-screenshot-container {
    margin: 0;
  }
  .project-section .project .proj-screenshot-notes .proj-notes-group {
    padding: 0 0.25em;
  }
  .project-section .project .proj-screenshot-notes .proj-notes-group .proj-notes {
    margin: 0;
  }
  .project-section .project .proj-screenshot-notes .proj-notes-group .proj-notes p {
    margin: 0.75em 0;
  }
  .project-section .project .proj-screenshot-notes .proj-notes-group .proj-notes p:first-of-type {
    margin-top: 0;
  }
  .project-section .project .proj-screenshot-notes .proj-notes-group .proj-learn-more {
    margin: 0.75em 0;
  }
}
/*** Certifications ***/
.certs-container .cert {
  max-width: 600px;
  background: #f8f8f8;
  margin: 0 0 1.5em 0;
  border: 1px solid #979aa0;
  border-radius: 10px;
  padding: 0.75em;
}
.certs-container .cert .cert-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  color: #0647b6;
  margin: 0 0 0.5em;
}
.certs-container .cert .cert-content {
  display: grid;
  grid-template: 1fr/25% 75%;
}
.certs-container .cert .cert-content .logo-container {
  margin: 0 1em 0 0;
  padding: 0.2em;
}
.certs-container .cert .cert-content .logo-container .cert-logo {
  display: block;
  max-height: 3em;
}
.certs-container .cert .cert-content .cert-details {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 500px) {
  .icon-plus-text {
    font-size: 1rem;
  }

  .certification-section .certs-container .cert .cert-title {
    font-size: 1.5rem;
  }
  .certification-section .certs-container .cert .cert-content .logo-container {
    margin: 0 0.5em 0 0;
  }
}
@media (min-width: 620px) {
  .certification-section .certs-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 0.5em;
  }
  .certification-section .certs-container .cert {
    margin: 0;
    display: grid;
    grid-template: 1fr/1fr;
    grid-gap: 0;
  }
  .certification-section .certs-container .cert .cert-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .certification-section .certs-container .cert .cert-content {
    height: 5em;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .certification-section .certs-container {
    grid-gap: 1em;
  }
}
/*** Education ***/
.degree {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.degree .degree-title,
.degree .degree-content {
  width: 100%;
  max-width: 550px;
}
.degree .degree-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  color: #0647b6;
  margin: 0 0 0.5em;
}
.degree .degree-content {
  display: grid;
  grid-template: 1fr/25% 75%;
}
.degree .degree-content .logo-container {
  margin: 0 1em 0 0;
  padding: 0.2em;
}
.degree .degree-content .logo-container .degree-logo {
  display: block;
  width: 100%;
}
.degree .degree-content .degree-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media (min-width: 500px) {
  .education-section .degree .degree-title {
    font-size: 1.5rem;
  }
  .education-section .degree .logo-container {
    max-width: 200px;
    max-height: 200px;
    margin: 0 0.5em 0 0;
  }
}
.icon {
  max-width: 1.15em;
  max-height: 1.15em;
}

/*** Contact ***/
.contact-section .contacts {
  display: flex;
  align-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.contact-section .contacts .contact-group {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section .contacts .contact-group .contact-link {
  color: inherit;
  border: 1px solid #979aa0;
  border-radius: 10px;
  padding: 1em;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-section .contacts .contact-group .contact-link .icon {
  width: 80px;
  max-width: 50%;
  max-height: 50%;
  margin: 0.5em 0;
}
.contact-section .contacts .contact-group .contact-link:hover {
  background: #f8f8f8;
  border: 1px solid #0647b6;
}
.contact-section .contacts .contact-group .contact-link:hover .icon {
  background: white;
}
.contact-section .contacts .contact-group .contact-link:focus,
.contact-section .contacts .contact-group .contact-link:active {
  outline: 1px dotted #696c72;
  background: #f8f8f8;
}

/*# sourceMappingURL=content-sections.css.map */
