@import "variables"

/*** Nav icons for mobile layouts ***/

.nav-hamburger
  height: $icon-hamburger-height
  width: $icon-hamburger-width
  display: inline-block
  margin: 0.5em 0.5em
  padding: 0
  border: none
  outline: none
  background: transparent
  opacity: 1
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: 500ms ease-in-out
  -moz-transition: 500ms ease-in-out
  -o-transition: 500ms ease-in-out
  transition: 500ms ease-in-out
  cursor: pointer
  span
    position: absolute
    height: 20%
    width: 50%
    background: $color-dark
    opacity: 1
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: 250ms ease-in-out
    -moz-transition: 250ms ease-in-out
    -o-transition: 250ms ease-in-out
    transition: 250ms ease-in-out
  span:nth-child(even)
    left: 50%
    border-radius: 0 0.5em 0.5em 0
  span:nth-child(odd)
    left: 0
    border-radius: 0.5em 0 0 0.5em
  span:nth-child(1),
  span:nth-child(2)
    top: 0
  span:nth-child(3),
  span:nth-child(4)
    top: 40%
  span:nth-child(5),
  span:nth-child(6)
    top: 80%

.nav-hamburger.open
  span
    background: $color-dark
  span:nth-child(1),
  span:nth-child(6)
    -webkit-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
  span:nth-child(2),
  span:nth-child(5)
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
  span:nth-child(3),
  span:nth-child(4)
    opacity: 0
    height: 0
    // The "hidden" parts off to the side remain clickable unless we set height to 0
    transition: left 250ms ease-in-out, opacity 250ms ease-in-out, height 1ms linear 250ms
  span:nth-child(1)
    top: 15.56%
    left: 8.33%
  span:nth-child(2)
    top: 15.56%
    left: calc(50% - 0.333em)
  span:nth-child(3)
    left: -50%
  span:nth-child(4)
    left: 100%
  span:nth-child(5)
    top: 64.44%
    left: 8.33%
  span:nth-child(6)
    top: 64.44%
    left: calc(50% - 0.333em)

.nav-hamburger:active,
.nav-hamburger:hover
  border: none
  background: none
  outline: none
  opacity: 0.85

.nav-hamburger:focus
  border: none
  background: none
  outline: 1px dotted $color-border
