/*** Source: https://codepen.io/designcouch/pen/Atyop?editors=1000  (#4) ***/
.nav-burger1,
.nav-burger2 {
  width: 60px;
  height: 45px;
  display: block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-burger1 span {
  display: block;
  position: absolute;
  height: 20%;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-burger1 span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.nav-burger1 span:nth-child(2) {
  top: 40%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.nav-burger1 span:nth-child(3) {
  top: 80%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-burger1.open1 span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -6.666667%;
  left: 13.333333%;
}
.nav-burger1.open1 span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.nav-burger1.open1 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 86.666667%;
  left: 13.333333%;
}

/*** Source: https://codepen.io/designcouch/pen/Atyop?editors=1000  (#2) ***/
.nav-burger2 span {
  display: block;
  position: absolute;
  height: 20%;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-burger2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.nav-burger2 span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px;
  opacity: 0.5;
}
.nav-burger2 span:nth-child(1),
.nav-burger2 span:nth-child(2) {
  top: 0;
  background-color: red;
}
.nav-burger2 span:nth-child(3),
.nav-burger2 span:nth-child(4) {
  top: 18px;
  background-color: green;
}
.nav-burger2 span:nth-child(5),
.nav-burger2 span:nth-child(6) {
  top: 36px;
  background-color: blue;
}

.nav-burger2.open2 span:nth-child(1),
.nav-burger2.open2 span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-burger2.open2 span:nth-child(2),
.nav-burger2.open2 span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-burger2.open2 span:nth-child(1) {
  left: 5px;
  top: 7px;
}
.nav-burger2.open2 span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
.nav-burger2.open2 span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.nav-burger2.open2 span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.nav-burger2.open2 span:nth-child(5) {
  left: 5px;
  top: 29px;
}
.nav-burger2.open2 span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/*# sourceMappingURL=nav-animations.css.map */
