@import variables


/*** Navigation ***/

.navbar
  .links-container
    height: 80vh
    display: flex
    flex-direction: column
    justify-content: center
    ul
      margin: 0
      padding: 0
      list-style: none
      display: flex
      flex-direction: column
      justify-content: flex-end
      text-align: center
      font-size: 2.75rem
      li
        margin: 0.4em
        a
          padding: 0.1em
