@import variables


.header-container
  background: $color-background
footer
  background: $color-background-alt

.faded-line
  height: 1px
  width: 50%
  margin: 1.25em auto
  background: linear-gradient(90deg, $color-background, $color-dark, $color-background)

.light-grey
 background-color: #ecf0f1

.light-grey2
 background-color: #ecf0f1

.dark-blue
 background-color: #22313f

.grey-blue
 background-color: #6c7a89


/* -- SVG CSS -- */

.page-separator-container
  width: 100%
  padding: 0
  margin: 0
  //display: block
  //position: relative
  .page-separator
    display: block
    //background: 0 0
    position: absolute
    left: 0
    right: 0
    top: 0
    z-index: 9
    width: 100%
    //-webkit-transform: translateY(-100%) translateY(2px)
    //transform: translateY(-100%) translateY(2px)
    .wave-part-1
      opacity: 1
      fill: #273a4c
    .wave-part-2
      opacity: 1
      fill: #2a3f54
    .wave-part-3
      fill: rgb(34, 49, 63)
      //fill: $color-background-alt
      //background: transparent
