@import "variables"

/*** Basic Tags ***/

*,
*::before,
*::after
  box-sizing: border-box

body
  font-size: 16px
  font-family: $font-stack-primary
  font-variant: slashed-zero
  color: $color-dark
  line-height: 1.6
  text-align: left
  max-width: $app-max-width
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

code
  font-family: $font-stack-mono

h1, h2, h3, h4
  margin: 0
  text-align: left
  cursor: default

p
  //font-size: 1rem
  //font-weight: 400
  line-height: 1em
  cursor: default
  margin: 0

img
  display: block
  max-width: 100%

a
  color: $color-link
  text-decoration: none
a:visited
  color: $color-link-visited
a:hover,
a:focus
  text-decoration: underline


/*** Buttons ***/

button
  background: $color-background
  color: $color-dark
  border: 1px solid $color-border
button:focus,
button:hover
  background: $color-border
  color: $color-lightest
  border: 1px solid $color-border-darker
button:active
  border: 2px solid $color-border-darker
  outline: none
  box-shadow: none

.btn
  height: 2.5em
  width: 7em
  text-align: center
  margin: 0
  border-radius: 0.2em
  cursor: pointer
  outline: none
  box-shadow: none
  transition: all 0.2s


/*** Page-Level ***/

.app-container
  background: $color-background
  margin: 0 auto
  padding: 1em
  max-width: $app-max-width

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0
.title
  color: black
  background: white

.footer-container
  font-size: 0.8rem
  margin-top: 1em
